.page {
    display: grid;
    place-items: center;
    height: 100vh;
}

.container {
    width: 100vw;
    max-width: max-content;
    padding: 5rem;
    background-color: var(--color-main);
    border-radius: 1rem;
    box-shadow: var(--shadow);
    display: grid;
    justify-items: center;
    row-gap: 3rem;

    button {
        width: 100%;
    }
}

.video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}